html,
body,
#root {
  height: 100%;
  font-family: ui-serif;
}

* {
  margin: 0;
  box-sizing: border-box;

}

.container {
  height: 100%;
  display: grid;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.left-section {
  background-color: #d4afe0;
  background: linear-gradient(#bcecff, #c2bbff, #98adda, #97f7f5);
  display: grid;
  place-items: center;
  align-content: center;
  padding: 30px;
}

#heading {
  margin: auto;

}

.right-section {
  background: linear-gradient(45deg, #d4afe0, #98adda, #ffd1ff);
  background-color: #b378c0;
  place-items: center;
  display: grid;
  align-content: center;
}


.signUp-form {
  width: 100%;
  max-width: 500px;
  display: grid;
  text-align: center;
  gap: 20px;
}


.signUp-form input {
  padding: 10px;
  border-radius: 8px;
  border: solid #000000 0.1px;
}


.signUp-form button {
  padding: 10px;
  cursor: pointer;
  background-color: #000000;
  margin-left: 45%;
  width: 80px;
  color: white;
  border-radius: 8px;
  border: solid #123235 0.1px;
}

p,
#white-heading {
  color: black;
  text-align: center;
}


h1 {
  text-align: center;
  font-family: ui-serif;
}

.page-division {
  display: grid;
  grid-template-columns: 150px 1fr;
  text-align: justify;

}

.name-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

h2 {
  text-align: left;
  font-family: ui-serif;
}

.forgot-password {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.error,
h3 {
  color: red;
  transition: 0.3s;
}

.showDataStyle,
P {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  background: #8079c0;
  padding: 5px;
  gap: 5px;
  border: solid black 0.1px;
  border-radius: 8px;
}


.showDataStyle button {
  padding: 10px;
  cursor: pointer;
  background-color: #353154;
  width: 100%;
  color: white;
  border-radius: 8px;
  border: solid #123235 0.1px;
  display: flex;
  justify-content: center;
}